# Python cache
__pycache__/
*.pyc

# Django database
db.sqlite3

# Environment variables
.env

# Media files
/media/

# Virtual environments (anywhere inside)
venv/
*/venv/

# VS Code settings
.vscode/
